#container {}


#new-quote {
  text-align: center;
}

#text {
  margin-bottom: 5%;
  font-size: 2.0em;
  line-height: 2.0em;
}

#author {
  margin: 2%;
  font-size: 1.5em;
}

#footer {
  text-align: center;
}
